{{> header.ar}}

<p> تم {{action}} حسابك في منصة سديد</p>
<p>بامكانك التواصل مع مدير النظام على الرقم {{phone}}</p>
<p>او بريديا على البريدالالكتروني:  {{email}}</p>
لمعرفة المزيد حول ذلك

{{> footer.ar}}