{{> header.ar}}
<P>هناك محاولات تسجيل دخول خاطئة إلى حسابك في منصة سديد</P>
<p>سببها: {{action}}</p>
<p>معلومات تسجيل الدخول الخاطئة: </p>
<p>عدد المحاولات: 3</p>
<P>القيمة الخاطئة: {{value}}</P>
<p>المتصفح: {{browser}}</p>
<p> تاريخ المحاولة: {{date}}</p>



{{> footer.ar}}