{{> header.en}}

<p>your Sadeed account login credential has been updated</p>
<p>you can contact Sadeed admin to get the new credentials </p>
<p>email: {{email}}</p>
<p>phone: {{phone}}</p>

{{> footer.en}}