{{> header.ar}}

<p> تم تعديل معلومات البريد الإلكتروني أو/و كلمة المرور الخاصة بحسابك في منصة سديد من قبل مدير النظام.</p>
<p>بامكانك التواصل مع مدير النظام على الرقم {{phone}}</p>
<p>او بريديا على البريدالالكتروني:  {{email}}</p>
 لإخبارك بمعلومات الدخول
 
{{> footer.ar}}