{{> header.ar}}

<p> تم حذف معلومات حسابك في منصة سديد , بإمكانك التواصل مع مدير النظام هاتفياً على الرقم "رقم الموبايل الخاص بمدير النظام من قاعدة البيانات" أو بريدياً "عنوان البريد من قاعدة البيانات" لمعرفة التفاصيل حول ذلك</p>
<p>بامكانك التواصل مع مدير النظام على الرقم {{phone}}</p>
<p>او بريديا على البريدالالكتروني:  {{email}}</p>
 لمعرفة التفاصيل

{{> footer.ar}}

