{{> header.en}}

<p>your Sadeed account has been disabled</p>
<p>disable-reason: {{reason}}</p>
<p>disable_date: {{date}}</p>
<p>you can contact Sadeed accounts administrator for more informations</p>
<p>email: {{email}}</p>
<p>phone: {{phone}}</p>

{{> footer.en}}