{{> header.ar}}
<p>تم إلغاء تفعيل حسابك في منصة سديد</p>
<p>السبب: {{reason}}</p>
<p>تاريخ الغاء التفعيل: {{date}}</p>
<p>بامكانك التواصل مع مدير الحسابات على الرقم {{phone}}</p>
<p>او بريديا على البريدالالكتروني:  {{email}}</p>
لمعرفة المزيد حول ذلك
{{> header.en}}
