{{> header.ar}}

<p>تم تفعيل حسابك في منصة سديد </p>
<p>بإمكانك الوصول إلى حسابك بالضغط على : </p>
<a href={{link}}>الوصول الى حسابي </a>
<p>أو نسخ الرابط التالي ولصقه في المتصفح :</p>
<p>{{link}}</p>

{{> footer.ar}}
