{{> header.en}}

<p>your Sadeed account has been enabled</p>
<p>you can access your account by clicking on:</p>
<a href={{link}}>access my account</a>
<p>or copy this link and paste it in your browser:</p>
<p>{{link}}</p>

{{> footer.en}}