{{> header.ar}}

<p> تم إنشاء حساب خاص بك كمسؤول في منصة سديد  </p>
<h3>بعض معلومات حسابك :</h3>
<ul>
    <li>
        عنوان البريد الالكتروني : {{email}}
    </li>
    <li>
        تاريخ التسجيل: {{createdDate}}
    </li>
    <li>
        رقم الموبايل: {{phone}}
    </li>
</ul>
<p>سيتم التواصل معك من قبل مدير النظام لتزويدك بمعلومات الدخول لتتمكن من البدء بمهامك.</p>

{{> footer.ar}}