{{> header.en}}

<p> a new SADEED ADMINISTRATOR ACCOUNT has been created for you </p>
<h3>account informations:</h3>
<ul>
    <li>
        email: {{email}}
    </li>
    <li>
        createdAt: {{createdDate}}
    </li>
    <li>
        phone: {{phone}}
    </li>
</ul>
<p>admins will be in contact with you to provide you with login informations</p>

{{> footer.en}}