{{> header.ar}}

<p>يمكنك إعادة تعيين كلمة المرور لحسابك في منصة سديد</p>
<p> من خلال الضغط على</p>
<a href={{link}}>تعيين كلمة المرور</a>
<p>أو نسخ الرابط التالي ولصقه في المتصفح:</p>
<p>{{link}}</p>

{{> footer.ar}}