{{> header.en}}

<p>you can reset your Sadeed account password by clicking on:</p>
<a href={{link}}>reset password</a>
<p>or copy this link and paste it in your browser:</p>
<p>{{link}}</p>

{{> footer.en}}