{{> header.en}}

<p>a new Sadeed account has been created for you by Sadeed administrator</p>
<p>you can access your account by clicking on this link</p>
<a href={{link}}>login to my account</a>
<p>or copy this link and paste it in your browser:</p>
<p>{{link}}</p>

{{> footer.en}}